<% obj.each do |page| %>

  <div class="row"></div>
  <div class="col-xs-8 col-xs-offset-2">
  <div class="well well-lg">
  <div class="article-title">
    <%= link_to page.title, page_path(page) %>
  </div>
  <div class="article-body">
    <%= truncate(page.description, length: 100) %>
    <div class="article-meta-details">
    <small> Created by: <%= page.user.username if page.user %>
    <%= time_ago_in_words(page.created_at) %> ago,
    last updated: <%= time_ago_in_words(page.updated_at) %> ago</small>
  </div>
  <% if article.categories.any? %>
  <p>Categories: <%= render article.categories %></p>
  <% end %>
  <% if logged_in? && (current_user == page.user || current_user.admin?) %>
<div class="article-actions">
  <%= link_to "Edit this article", edit_page_path(page), class: "btn btn-xs btn-primary" %>
  <%= link_to "Delete this article", page_path(page), method: :delete,
    data: { confirm: "Are you sure you want to delete the article?"},
    class: "btn btn-xs btn-danger" %>
    <% end %>
  </div>
  </div>
  </div>
  </div>
<% end %>